NODE_ENV=development
APP_PORT=4000
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=pomelo
MYSQL_USER=pomelo_user
MYSQL_PASSWORD=pomelo_pass
AUTH_JWT_SECRET=dev-super-secret-key-change-me
AUTH_JWT_ISSUER=
AUTH_JWT_AUDIENCE=

OCA_API_BASE_URL=https://testsvc.oca.com.ar/WS_OEP_TEST
OCA_LOGIN_PATH=/OCAGEOApiController/Login
OCA_CREATE_SHIPMENT_PATH=/Oep_TrackEPak.asmx/IngresarOrdenRetiro
OCA_TRACK_CURRENT_STATUS_PATH=/Oep_TrackEPak.asmx/EstadoActual
OCA_TRACK_HISTORY_PATH=/Oep_TrackEPak.asmx/HistorialSeguimiento
OCA_CLIENT=OCA_APIGEO
OCA_USER=OCA_APIGEO
OCA_PASSWORD=oca
OCA_PRODUCT_CODE=OCA_TEST
